<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AngularJS - 2</title>
</head>
<body ng-app="myapp" ng-controller="myfriends">
	<input type="text" id="name" ng-model="sch">
	<ul>
		<li ng-repeat="friend in friends" ng-if="friend.name.toLowerCase().match(sch.toLowerCase()) || friend.phone.match(sch) || friend.birth.match(sch) || friend.email.match(sch)">
			{{friend.name}}, {{friend.phone}}, {{friend.birth}}, {{friend.email}}
		</li>
	</ul>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script>
		var app = angular.module("myapp",[]);
		app.controller("myfriends",function($scope,$http){
			$http.get("getfriends.php").then(function(datas){
                $scope.friends = datas.data;
            });
		});
	</script>
</body>
</html>